.details {
  padding: 1rem;
  width: 100vw;
  max-width: 320px;
  height: 140px;
  text-align: left;
  position: relative;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: #543280;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #593884;
}

.text {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #593884;
  font-style: italic;
}

.details a {
  text-decoration: none;
}

.created {
  position: absolute;
  bottom:0;
  font-size: 12px;
  font-style: italic;
  color: #543280;
}